doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title profiTeam
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    

  body
    main.main__block
      div.container
        include ../sections/opportunities
        include ../sections/plus
        include ../sections/reason
      include ../sections/footer
    script(src="js/script.js")
