footer.ask__bg
  div.container
    section.ask
      h2.ask__title ОСТАЛИСЬ ВОПРОСЫ?
      p.ask__text Вы можете позвонить по телефону +7(ХХХ)ХХХ-ХХ-ХХ<br> или оставить заявку и наши специалисты проконсультируют<br> Вас по интересующим вопросам
      button(type="button").ask__button ОСТАВИТЬ ЗАЯВКУ
