section.opportunities
  h2.visually-hidden возможности
  ul.opportunities__lists
    li.opportunities__list
      div.opportunities__block.opportunities__bg1
        img(src="img/icon1.svg" width="94" height="23" alt="Настройка обмена между конфигурациями 1С").opportunities__icon
        h3.opportunities__title Настройка обмена между конфигурациями 1С
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
    li.opportunities__list
      div.opportunities__block.opportunities__bg2
        img(src="img/icon2.svg" width="94" height="23" alt="Интеграция 1С с сайтом").opportunities__icon
        h3.opportunities__title Интеграция 1С с сайтом
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
    li.opportunities__list
      div.opportunities__block.opportunities__bg3
        img(src="img/icon3.svg" width="94" height="23" alt="Интеграция 1С с интернет-магазином").opportunities__icon
        h3.opportunities__title Интеграция 1С с интернет-магазином
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
    li.opportunities__list
      div.opportunities__block.opportunities__bg4
        img(src="img/icon4.svg" width="94" height="23" alt="Интеграция 1С с другими информационными системами").opportunities__icon
        h3.opportunities__title Интеграция 1С с другими информационными системами
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
    li.opportunities__list
      div.opportunities__block.opportunities__bg5
        img(src="img/icon5.svg" width="94" height="23" alt="Интеграция 1С с телефонией").opportunities__icon
        h3.opportunities__title Интеграция 1С с телефонией
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
    li.opportunities__list
      div.opportunities__block.opportunities__bg6
        img(src="img/icon6.svg" width="94" height="23" alt="Интеграция 1С с почтой").opportunities__icon
        h3.opportunities__title Интеграция 1С с почтой
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
    li.opportunities__list
      div.opportunities__block.opportunities__bg7
        img(src="img/icon7.svg" width="94" height="23" alt="Интеграция 1С с CRM системами").opportunities__icon
        h3.opportunities__title Интеграция 1С с CRM системами
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
    li.opportunities__list
      div.opportunities__block.opportunities__bg8
        img(src="img/icon8.svg" width="94" height="23" alt="Интеграция 1С с торговым оборудованием").opportunities__icon
        h3.opportunities__title Интеграция 1С с торговым оборудованием
        button(type="button").opportunities__button ЗАКАЗАТЬ
      span.opportunities__price Стоимость от<br> 10 000р
