section.reason
  h2.reason__title Почему с нами хорошо работать?
  ul.reason__lists
    li.reason__list
      img(src="img/work1.svg" width="127" height="40" alt="уточняющие вопросы").reason__img1
      p.reason__text Задаем уточняющие вопросы. Быстро понимаем, как должен происходить обмен. Сами предлагаем разные варианты для достижения целей
    li.reason__list
      img(src="img/work2.svg" width="152" height="43" alt="уточняем технические детали").reason__img2
      p.reason__text Если что то незнакомое, сами уточняем технические детали у разработчиков. Клиента такими вопросами не мучаем
    li.reason__list
      img(src="img/work3.svg" width="161" height="42" alt="узнаем, что есть у клиента").reason__img3
      p.reason__text Быстро узнаем, что есть у клиента. Что с чем надо интегрировать. И какие цели надо достичь
    li.reason__list
      img(src="img/work4.svg" width="138" height="45" alt="оцениваем").reason__img4
      p.reason__text Даем максимально точную предварительную оценку или озвучиваем вилку «от и до»
    li.reason__list
      img(src="img/work5.svg" width="317" height="43" alt="Объясняем").reason__img5
      p.reason__text Со специалистами говорим на техническом языке. С обычными пользователями обычным языком. С руководителями и собственниками на языке бизнеса
